<div class="mall_prod_info" style="text-align: center; line-height: 0; font-size: 0px;">
<div><img src="https://image2.hanssem.com/howiz/test/emma_sofa_review_230207_01.jpg"></div>
<div class="mall_prod_info" style="text-align: center; line-height: 0; font-size: 0px;">
<div><img src="https://image2.hanssem.com/howiz/test/emma_sofa_review_230207_02.jpg"></div>
</div>

<div class="mall_prod_info" style="text-align: center; line-height: 0; font-size: 0px;">



<!-- ?븳?깦紐? ?긽?뭹 ?룞?쁺?긽 -->
<iframe width="870" height="489" src="https://play.wecandeo.com/video/v/?key=BOKNS9AQWrGriij3A3TVfzqlDj5uii6btygOPnvisNleCktpL68WrLR0rKGKgfKFPwplFGipd7WMv3b27rE983vAVwieie" frameborder="0" allowfullscreen="" allow="autoplay;fullscreen;"></iframe>

<!-- // ?븳?깦紐? ?긽?뭹 ?룞?쁺?긽 -->

	<div style="padding-bottom:50px;"></div>


	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComfort_branding_01.jpg"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComfort_branding_03.jpg"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComfort_branding_04gif.gif"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComfort_branding_05.jpg"></div>


	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_01_intro_790554.jpg"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_02_info_type1_79054.jpg"></div>


	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_color.jpg"></div>


	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_design_79054_01.jpg"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_design_02gif.gif"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_design_79054_03.jpg"></div>


	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_leather_01.jpg"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_leather_02.jpg"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/leathertest.gif"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_leather_04.jpg"></div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_leather_05.jpg"></div>

	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_size.jpg"></div>



	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_premiumseat_01.jpg"></div>

<div style="display: block; position: relative; max-width: 100%;">
	<div style="padding-top: 56.25%;">
		<!-- ?룞?쁺?긽 ?븘?씠?뵒 --><iframe src="https://www.youtube.com/embed/MLz4Tp7Mgew" allowfullscreen="" style="left: 0px; top: 0px; width: 100%; height: 100%; right: 0px; bottom: 0px; position: absolute;" mozallowfullscreen="" webkitallowfullscreen=""></iframe>
    </div>
</div>
	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_premiumseat_03.jpg"></div>




	<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComfort_e0_01.jpg"></div>
<div style="display: block; position: relative; max-width: 100%;">
	<div style="padding-top: 56.25%;">
		<!-- ?룞?쁺?긽 ?븘?씠?뵒 --><iframe src="https://www.youtube.com/embed/BrBxnBkbLvM" allowfullscreen="" style="left: 0px; top: 0px; width: 100%; height: 100%; right: 0px; bottom: 0px; position: absolute;" mozallowfullscreen="" webkitallowfullscreen=""></iframe>
	</div>
</div>
	<div id="conts_info_end"><img src="http://image2.hanssem.com/howiz/sofa/EmmaComfort_e0_03.jpg"></div>



<div><img src="http://image2.hanssem.com/howiz/sofa/EmmaComport_faq.jpg"></div>



<div><img src="http://image2.hanssem.com/howiz/sofa/sofa_livingroom_delivery.jpg"></div>
	


</div></div>